/* ========Css Common code===============*/
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", sans-serif;
    background-color:#EDEFF6;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
}
img{
    vertical-align: middle;
}
.wrapper{
    width:1140px;
    margin:0px auto;
}
/* ==========Css Common Code End================ */
/* =========Navigation Part Start=============== */
.nav-bar{
    top: 0px;
    left: 0px;
    width: 100%;
    z-index:1000;
    position: fixed;
}
.nav-bar .nav-content{
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .nav-content .nav-btn a button {
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius:8px;
    padding: 10px 20px;
    background-color: #4E47FF;
    transition: all linear 0.2s;
}
.nav-bar .nav-content .nav-btn a button:hover {
    transform: scale(1.08);
    background-color: #cf0023;
   
}
/* ========Navigation Part End================ */
/* ========Banner Part Start=================== */
.banner-section{
    background: url(../images/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0px;
}
.banner-section .banner-content .banner-title h1{
    color: #252432;
    font-size:65px;
    font-weight: 700;
    padding:30px 30px;
    
}
.banner-section .banner-content{
    text-align: center;
}
.banner-section .banner-content .banner-btn button{
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    padding:10px 30px;
    background-color: #4E47FF;
    transition: all linear 0.2s;
}
.banner-section .banner-content .banner-btn button:hover{
    transform: scale(1.08);
    background-color: #cf0023;
}
/* ===========Banner Part End=================== */
/* ============Action Part Start================ */
.action-sectioin{
   padding:80px 0px;
}
.action-sectioin .action-content{
    display: flex;
    align-items:center;
}
.action-sectioin .action-content .action-lef-item{
    width:60%;
}
.action-sectioin .action-content .action-right-item{
    width:40%;
}
.action-sectioin .action-content .action-right-item img{
    width: 100%;
    border-radius: 50px;
}
.action-sectioin .action-content .action-lef-item .action-title h2{
  color:#252432;
  font-size:42px;
  font-weight:700;
  padding-bottom:10px;
}
.action-sectioin .action-content .action-lef-item .action-title p{
    color:#afafaf;
    font-size: 24px;
    font-weight: 400;
    padding-right: 150px;
    padding-bottom: 20px;
}
.action-sectioin .action-content .action-lef-item .action-btn button{
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    padding:10px 30px;
    background-color: #4E47FF;
    transition: all linear 0.2s;
}
.action-sectioin .action-content .action-lef-item .action-btn button:hover{
    transform: scale(1.08);
    background-color: #cf0023;
}
/* ============Action Part End===================== */
/* ============Productive User Part Start========== */
.productive-user-section{
   padding-bottom: 80px;
}
.productive-user-section .productive-user-content{
    border-radius:20px;
    padding: 50px 0px;
    background-color: #dddcf8;
}
.productive-user-section .productive-user-content .productive-title h2{
    color: #252432;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}
.productive-user-section .productive-user-content .productive-items{
   display: flex;
   padding: 50px 0px;
   justify-content:space-around;
}
.productive-user-section .productive-user-content .productive-items h1{
   color:#4E47FF;
   font-size:80px;
   text-align: center;
   font-weight: 700;
   font-family:sans-serif;
}
.productive-user-section .productive-user-content .productive-items p{
   color:#818181;
   font-size:20px;
   font-weight:400;
   text-align: center;
}
/* ==============Productive User Part End====================== */
/* ==============User Section Part Start======================= */
.user-section {
   padding-bottom: 50px;
}
.user-section .user-content .user-title h2{
    color: #252432;
    font-size: 42px;
    font-weight:700;
    text-align:center;
}
.user-section .user-content .user-cards{
    display: flex;
    padding:50px 0px;
    justify-content: space-around;
}
.user-section .user-content .user-cards .card{
    width:33%;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius:10px;
    position:relative;
}
.user-section .user-content .user-cards .card-mrgin{
   margin: 0px 15px;
}
.user-section .user-content .user-cards .card .card-title h4{
   color: #252432;
   font-size:20px;
   font-weight:700;
}
.user-section .user-content .user-cards .card .card-title p{
   color:#252432;
   font-size:16px;
   font-weight: 400;
   padding-top:10px;
   padding-bottom: 15px;
}
.user-section .user-content .user-cards .card .card-icon ul{
    display: flex;
}
.user-section .user-content .user-cards .card .card-icon ul li{
    color:#FFB805;
    list-style: none;
    margin-right: 5px;
    padding-bottom: 20px;
}
.user-section .user-content .user-cards .card .card-img img{
    left:20px;
    bottom: 20px;
    position: absolute;
    border-radius:100%;
}
.user-section .user-content .user-cards .card .card-img h5{
   color: #818181;
   font-size:14px;
   padding-top: 11px;
   padding-left: 55px;
}
.user-section .user-content .user-cards .card .card-img p{
    color: #afafaf;
    font-size: 14px;
    padding-left: 55px;
}

/* ==============User Section Part End========================= */
/* =============Focus Section Part Start====================== */
.focus-section{
    padding-bottom:80px;
}
.focus-section .focus-content{
    padding: 50px 0px;
    border-radius:10px;
    text-align: center;
    background-color: #FFFFFF;
}
.focus-section .focus-content .focus-title h2{
    color:#000000;
    font-size: 50px;
    font-weight: 700;
}
.focus-section .focus-content .focus-title p{
    color: #afafaf;
    font-size: 16px;
    font-weight:400;
    padding: 20px 0px;
}
.focus-section .focus-content .focus-btn button{
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding:10px 20px;
    margin-bottom: 20px;
    border-radius:8px;
    background-color: #4E47FF;
    transition: all linear 0.2s;
}
.focus-section .focus-content .focus-btn button:hover{
    transform: scale(1.08);
    background-color: #cf0023;
}
.focus-section .focus-content .focus-img img{
    border-radius: 50px;
}
/* ==============Focus Secttion Part End================ */
/* ==============Get in Touch Part Start================ */
.getintouch-section{
    padding-bottom: 50px;
}
.getintouch-section .getintouch-content{
    display: flex;
    align-items: center;
}
.getintouch-section .getintouch-content .getintouch-left-item{
    width:60%;
}
.getintouch-section .getintouch-content .getintouch-left-item h1{
   color:#000000;
   font-size: 97px;
   font-weight:700;
    
}
.getintouch-section .getintouch-content .getintouch-right-item{
    width:40%;
}
.getintouch-section .getintouch-content .getintouch-right-item form label{
    color: #000000;
    display:block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding-bottom: 5px;
}
.getintouch-section .getintouch-content .getintouch-right-item form input{
    width: 300px;
    padding:15px 20px;
    border-radius:5px;
    border: 1px solid #dfdddd;
}
.getintouch-section .getintouch-content .getintouch-right-item form textarea{
    width: 300px;
    padding:15px 20px;
    border-radius:5px;
    display: block;
    height: 80px;
    border: 1px solid #dfdddd;
    margin-bottom:20px;
}
.getintouch-section .getintouch-content .getintouch-right-item form button{
    width:342px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding:10px 0px;
    margin-bottom: 20px;
    border-radius:8px;
    background-color: #4E47FF;
    transition: all linear 0.2s;
}
.getintouch-section .getintouch-content .getintouch-right-item form button:hover{
    transform: scale(1.02);
    background-color: #cf0023;
}
/*===============Get in Touct Part End============== */
/* ==============Footer Part Start================== */
.footer-section{
    padding: 80px 0px;
    background-color: #FFFFFF;
}
.footer-section .footer-content{
    text-align: center;
}
.footer-section .footer-content .footer-logo h1{
  color: #4E47FF;
  font-size: 100px;
  font-weight: 800;
}
.footer-section .footer-content .footer-logo p{
  color: #8987A1;
  font-size: 16px;
  font-weight:400;
  padding: 15px 305px;
}
.footer-section .footer-content .footer-menu{
    text-align: center;
}
.footer-section .footer-content .footer-menu ul{
    display: inline-flex;
}
.footer-section .footer-content .footer-menu ul li{
   list-style: none;
}
.footer-section .footer-content .footer-menu ul li a{
   color: #8987A1;
   font-size: 18px;
   font-weight: 500;
   text-decoration: none;
   padding: 0px 20px;
}
/* ==============Footer Part End==================== */

